body {
}

main {
  margin: 0 auto;
  max-width: 700px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-link h2 {
  font-size: 1.4rem;
  text-align: center;
}

.home-link p {
  font-size: 0.8rem;
  color: grey;
  margin-bottom: 1rem;
  text-align: center;
}

.beer {
  border-top: 1px solid lightgray;
  display: flex;
  padding: 1rem;
}

.beer .image {
  display: flex;
  justify-content: center;
  margin-right: 5%;
  width: 15%;
}

.beer .image img {
  height: 120px;
  width: auto;
}

.beer .info h2 {
  font-size: 1.4rem;
}
